.gdoc-header {
	background: #e66a4e;
	border-color: #404040;
}

.gdoc-header,
.gdoc-footer,
.gdoc-nav__list,
.breadcrumb{
	font-family: "Avenir", "Noto Sans", "Helvetica", sans
}

/* .gdoc-header__link, .gdoc-header__link:visited { color: #ffffff; } */

html {
	font-size: 18px;
}

.gdoc-markdown {
	line-height: 1.3em;
}

h1,h2,h3,h4,h5,h6 {
	/*font-weight: 400; */
	font-family: "Avenir", "Noto Sans", "Helvetica", sans;
	line-height: 1.5em;
}
body {
	color: black;
	font-weight: 400;
	font-family: "Iowan Old Style", "Linux Libertine O", Cambria, serif;
	-webkit-font-smoothing: auto;
	-moz-font-smoothing: auto;
}
code {
	font-family: "Consolas", "Monaco", "Fira Mono", monospace;
}

.gdoc-nav__list {
	font-weight: 400;
}

.gdoc-nav__entry.is-active, .gdoc-nav__entry:hover {
	text-decoration: underline;
	-webkit-text-decoration-style: solid!important;
	text-decoration-style: solid!important;
}
