.gdoc-header {
    background: #e66a4e;
    border-color: #404040;
    font-family: "Optima", "Helvetica", "Arial", "Noto Sans", "Liberation Sans", sans
}
.gdoc-footer{
    font-family: "Optima", "Helvetica", "Arial", "Noto Sans", "Liberation Sans", sans
}
/* .gdoc-header__link, .gdoc-header__link:visited { color: #ffffff; } */

html {
  font-size: 18px;
}
.gdoc-markdown h1,
.gdoc-markdown h2,
.gdoc-markdown h3,
.gdoc-markdown h4,
.gdoc-markdown h5,
.gdoc-markdown h6,
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    /* font-family: Georgia, Cambria, "Times New Roman", Times, serif; */
    font-family: "Optima", "Helvetica", "Arial", "Noto Sans", "Liberation Sans", sans;
}
body {
    color: black;
    font-weight: 400;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    /* "Iowan Old Style", "Georgia", "Noto Serif", serif */
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
}
code {
    font-family: "Monaco", "Consolas", "Fira Mono", "Fira Code", "Liberation Mono", monospace;
}

.gdoc-nav__entry.is-active, .gdoc-nav__entry:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: solid!important;
    text-decoration-style: solid!important;
}
